body{
  width: 100vw;
  height: 50vh;
  background-color: yellow;
}

.pixel{
  width:1350px;
  margin: -12px;
  height: 7900px;
  border:30px solid blue;
}
.pixel1{
  width:1350px;
  height: 340px;
  margin-top: -5px;
  background-color: red;
  position: absolute;
}
.logo1{
  
  margin-top: -120px;
  position: absolute;
}
.text{
  color: white;
  font-size: 90px;
  margin-top: 120px;
  margin-left: 520px;
  position: absolute;
}

.logo2{
  margin-left: 900px;
  margin-top: -120px;
  position: absolute;
}
.jogo{
  border: 2px solid #333; 
  box-shadow: 0 0 15px 5px #000000; 
padding: 20px;
  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border: 29px solid blue;
  border-radius: 30px;
  width:450px;
  height: 550px;
  margin-left: 60px;
  margin-top: 530px;
  position: absolute;
}
.jogo1{
  border: 2px solid #333; 
  box-shadow: 0 0 15px 5px #000000; 
padding: 20px;
  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border: 29px solid blue;
  border-radius: 30px;
  width:450px;
  height: 550px;
  margin-left: 690px;
  margin-top: 530px;
  position: absolute;
}


.jogo3{
  border: 2px solid #333; 
  box-shadow: 0 0 15px 5px #000000; 
padding: 20px;
  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border: 29px solid blue;
  border-radius: 30px;
  width:450px;
  height: 550px;
  margin-left: 690px;
  margin-top: 1300px;
  position: absolute;
}
.jogo4{
  border: 2px solid #333; 
  box-shadow: 0 0 15px 5px #000000;
  background-color: #f0f0f0;
  width: 200px;
  border-radius: 30px;
  width:470px;
  border: 29px solid blue;
  height: 570px;
  margin-left: 60px;
  margin-top: 1300px;
  position: absolute;
}
.jogo5{
  
  box-shadow: 0 0 15px 5px #000000; 

  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border: 29px solid blue;
  border-radius: 30px;
  width:450px;
  height: 550px;
  margin-left: 690px;
  margin-top: 2100px;
  position: absolute;
}
.jogo8{
  
  box-shadow: 0 0 15px 5px #000000; 

  background-color: #f0f0f0;
  width: 200px;
  text-align: center;
  border: 29px solid blue;
  border-radius: 30px;
  width:450px;
  height: 550px;
  margin-left: 60px;
  margin-top: 2100px;
  position: absolute;
}
.pixel2{
  width:1350px;
  height: 340px;
  margin-top: 2850px;
  background-color: red;
  position: absolute;
}
.text1{
  color: white;
  font-size: 90px;
  margin-top: 120px;
  margin-left: 520px;
  
  position: absolute;
}
.menu{
  margin-top: -50px;
  position: absolute;
}



.pixel3{
  width:1350px;
  height: 340px;
  margin-top: 350px;
  background-color: red;
  position: absolute;
}

.text2{
  color: white;
  font-size: 90px;
  margin-top: 120px;
  margin-left: 360px;
}
.logo3{
  margin-left: -50px;
  margin-top: -399px;
  position: absolute;
}
.logo4{
  margin-left: 910px;
  margin-top: -399px;
  position: absolute;
}
.game{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 300px;
  margin-left: 20px;
  position: absolute;
}
.game1{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 300px;
  margin-left: 690px;
  position: absolute;
}
.game2{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 300px;
  margin-left: 20px;
  position: absolute;
}
.game3{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 670px;
  margin-left: 690px;
  position: absolute;
}
.game4{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top:670px;
  margin-left: 20px;
  position: absolute;
}
.game5{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 1100px;
  margin-left: 690px;
  position: absolute;
}
.game6{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 1100px;
  margin-left: 20px;
  position: absolute;
}
.game7{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 1500px;
  margin-left: 690px;
  position: absolute;
}
.game8{
  width: 600px;
  height: 200px;
  border-radius: 25px; 
  border-radius: 50px; 
  border: 18px solid black;
  margin-top: 1500px;
  margin-left: 20px;
  position: absolute;
}


.carousel-container {
  margin-top: 700px;
    max-width: 1000px;
    margin-left: 140px;
    overflow: hidden;  
  position: relative;
}

.carousel-slide-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.slide {
    min-width: 100%;  
  flex-shrink: 0; 
}

.slide img {
  
    width: 100%;
    height: auto;
    display: block;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    background: transparent;
    color: white;
    border: none;
    padding: 130px;
  font-size: 50px;
    cursor: pointer;
    z-index: 10;
}

.prev { left: 50px; }
.next { right: 50px; }

.carousel-indicators { 
